*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
}

body {
    animation: show ease-in-out 1s;
}
h1{
    text-align: center;
    margin: 20px;

    font-size: 50px;
}
ul {
    list-style: none;
}

.hidden {
    display: none;
}

#restart {
    display: block;
    margin: 5px auto;
    padding: 3.5px;

    width: 170px;
    height: 35px;
    background-color: white;

    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;

    border: 2px solid black;
    border-radius: 6px;

    box-shadow: 4px 4px black;
    cursor: pointer;
}

.high-score-wrapper {
    text-align: center;
    display: block;

    font-size: 25px;
}

.game-board-container {
    width: auto;
    height: auto;

    /* border: 2px dashed black; */
}

.game-over {
    width: 100%;
    height: auto;

    margin: 0 auto;

    font-size: 68px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px black;
    color: crimson;
}

.wrapper {
    width: 360px;
    min-width: 360px;
    margin: 0 auto;

    background-color: black;
    color: white;

    border: 2px dashed red;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.letter {
    padding: 5px;

    font-size: 50px;
    transition: all 1ms;
    animation: tumble ease-in-out 1s infinite;
}

.word-form {
    display: flex;
    justify-content: center;

    min-width: 360px;
    
    }

.word-form input {
    display: inline-block;

    height: 35px;
    width: 200px;

    padding: 10px;

    border-radius: 6px;

    font-size: 20px;
    text-align: right;

    box-shadow: 5px 7px 0px 1px black;
}

.word-form input:focus-visible {
    outline: 0;
}

.word-form button {
    display: inline-block;

    width: 150px;
    height: 35px;

    background-color: darkgrey;

    border-radius: 6px;

    font-size: 20px;

    box-shadow: 5px 7px 0px 1px black;
}

#result-container {
    display: flex;
    justify-content: space-around;

    width: 360px;
    min-width: 360px;
    height: 50px;
    margin: 0 auto;
    padding: 15px;
    
    font-size: 16px;

    background-color: aqua;

    border: 2px solid black;
    border-radius: 6px;

    box-shadow: 5px 7px 0px 1px black;

    opacity: 0.9;
}

.result,
.score {
}

@keyframes show {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tumble {
    0% {
        transform: scale(1.0) translate(0px, 0px) rotate(0deg)
    }

    25% {
        transform: scale(1.1) translate(1px, -1px) rotate(15deg)
    }

    50% {
        transform: scale(0.95) translate(0px, 0px) rotate(0deg)
    }

    75% {
        transform: scale(1.1) translate(-1px, 1px) rotate(-15deg)
    }

    100% {
        transform: scale(1.0) translate(0px, 0px) rotate(0deg)
    }
}