{% extends "base.html" %}

{% block title %} Boggle {% endblock %}

{% block content %}

<h1>Boggle Game</h1>
<hr>
<a href="/" id="restart">Restart</a>
<span class="high-score-wrapper">
    High Score: 
    <span id="high-score">{{ high_score }}</span>
    Played:
    <span id="times-played">{{ times_played }}</span>
</span>
<div class="game-board-container">
    <div class="game-over hidden">Game Over</div>
    <div class="wrapper">
        {% for row in game_board %}
        <ul class="row">
            {% for letter in row %}
            <li class="letter">{{letter}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <form class="word-form">
        <div class="wrapper">
            <input autofocus minlength="3" name="guess" id="guess" type="text" placeholder="enter word">
            <button>Submit</button>
        </div>
    </form>
    <div id="result-container">
        <span class="timer">Timer: <span>60</span></span>
        <span class="result">Result</span>
        <span class="score">0</span>
    </div>
</div>

{% endblock %}