{% extends "base.html" %}

{% block title %} Boggle {% endblock %}

{% block content %}

<h1>Boggle Game</h1>
<hr>
<div class="game-board-container">
    <div class="wrapper">
        {% for row in game_board %}
        <ul class="row">
            {% for letter in row %}
            <li class="letter">{{letter}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <form class="word-form">
        <div class="wrapper">
            <input autofocus name="guess" id="guess" type="text" placeholder="enter word">
            <button>Submit</button>
        </div>
    </form>
    <div id="result-container">
        <span class="result">Result</span>
        <span class="score">0</span>
    </div>
</div>

{% endblock %}